*DS_Store*
build/*
*.build
CMakeFiles/*
CMakeCache.txt
*/CmakeFiles
build
*.o
*.bin
*.log
*~
*.out
*.cache
*.pyc
*.pbxuser
*.perspectivev3
lciframework/html/*
lciframework/lci
lciframework/install_manifest.txt
